.main {
  position: relative;
  width: auto;
  min-height: 75vh;
  height: auto;
}

.main__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;
  color: white
}

.main__container--title {
  width: 11em;
  height: 7em;
  float: left;
  overflow: hidden;
  padding: 10px;
}

.main__container--title h2 {
  font-size: 6em;
  margin: 0;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

.main__container--subtitle p {
  font-size: 1.5em;
}
