.rootLoader-container{
  display: flex;
  height: 100vh;
  padding: 10px;
  align-items: center;
  background-image: linear-gradient(#21c08b, #8f57fd);
}

.rootLoader-authColor {
  background-image: none;
  background-color: #8f57fd;
}

