.categories {
  height: 43rem;
}

.categoriesContainer {
  height: 32.5rem;
  width: 90%;
  margin-left: 5%;
}

.categoriesContainerTitle {
  background: #8f57fd;
  color: white;
  font-size: 16px;
  margin-top: -16px;
  position: relative;
  padding-left: 30px;
  width: 100%;
}
