.header {
  align-items: center;
  background: #8f57fd;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
}

.headerAuthBackgroundColor {
  background-color: #21c08b;
}

.headerImg {
  margin-left: 30px;
  width: 200px;
}

.headerMenu {
  margin-right: 30px;
}

.headerMenu ul {
  display: none;
  list-style: none;
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}

.headerMenu:hover ul, .headerMenu ul:hover {
  display: block;
  z-index: 100;
}

.headerMenu li {
  margin: 10px 0px;
}

.headerMenu li a {
  color: white;
  text-decoration: none;
}

.headerMenu li a:hover {
  text-decoration: underline;
}

.headerMenuProfile {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.headerMenuProfile img {
  margin-right: 8px;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
}
