.main404 {
  position: relative;
  width: auto;
  min-height: 75vh;
  height: auto;
}

.main404Container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 75vh;
  color: white
}

.main404ContainerTitle {
  width: 70%;
  height: 70%;
  padding: 10px;
  text-align: center;
}

.main404containerTitle h2 {
  font-size: 10rem;
  margin: 0;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1);}
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

.main404ContainerSubtitle p {
  font-size: 3rem;
  font-weight: bold;
}
