.playlist-notfound_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  h3 {
    color: #ffffff;
    font-size: 2rem;
  }
}
